<div class="banner">
  <div class="wrapper">
    <div class="banner-col-wrapper">
      <div class="banner-col">
        <h1>{{ page.banner.title }}</h1>
        <p>{{ page.banner.blurb }}</p>
      </div>
      <div class="banner-col">

        {%- if page.banner.video -%}
          <div class="banner-vid-wrapper">
            <video width="225" height="150" autoplay muted>
              <source src="{{ '/assets/' | relative_url }}{{ page.banner.video }}.mp4" type="video/mp4">
            </video>
          </div>
        {%- endif -%}

      </div>
    </div>
  </div>
</div>
