---
layout: default
---

<div class="banner">
  <div class="wrapper">
    <div class="banner-col-wrapper">
      <div class="banner-col">
        <h1>{{ page.banner.title }}</h1>
      </div>
      <div class="banner-col">
        <div class="banner-vid-wrapper">
          {%- assign vid_host = site.url | default: "https://www.patternsoflife.nl" -%}

          <video width="200" height="125" autoplay muted>
            <source src="{{ vid_host }}/assets/{{ page.banner.video }}.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <p>{{ page.banner.blurb }}</p>
  </div>
</div>

<div class="wrapper">
  <div class="home">
    {%- if page.title -%}
      <h2 class="post-list-heading">{{ page.title }}</h2>
    {%- endif -%}

    {{ content }}

    {%- include post_list.html -%}

  </div>
</div>
