---
layout: default
---

<div class="team-banner">
  <div class="wrapper">
    <div class="team-banner-grid">

      <div class="team-banner-heading">
        <h1>{{ page.full_name | escape }}</h1>
      </div>

      <div class="team-banner-details">
        <p>{{ page.role | escape }}</p>
      </div>

      <div class="team-banner-picture">
        <img src="/assets{{ page.url }}.jpg" width="100px" height="150px">
      </div>

    </div>
  </div>
</div>

<div class="wrapper">
  <article class="post">

    <div class="post-content">
      {{ content }}
    </div>

  </article>
</div>
