---
layout: default
---

<div class="team-banner">
  <div class="wrapper">
    <div class="banner-col-wrapper">
      <div class="banner-col">
        <h1>{{ page.name | escape }}</h1>
      </div>
      <div class="banner-col">
        <img class="team-member-pic" src="/assets{{ person.url }}.jpg" width="200px" height="300px">
      </div>
    </div>
    <p>{{ page.role | escape }}</p>
  </div>
</div>

<div class="wrapper">
  <article class="post">

    <div class="post-content">
      {{ content }}
    </div>

  </article>
</div>
