---
layout: default
---

<div class="team-banner">
  <div class="wrapper">
    <div class="banner-col-wrapper">
      <div class="banner-col">
        <h1>{{ page.full_name | escape }}</h1>
      </div>
      <div class="banner-col">
        <div class="team-member-pic-wrapper">
          <img class="team-member-pic" src="/assets{{ page.url }}.jpg" width="40px" height="60px">
        </div>
      </div>
    </div>
    <p>{{ page.role | escape }}</p>
  </div>
</div>

<div class="wrapper">
  <article class="post">

    <div class="post-content">
      {{ content }}
    </div>

  </article>
</div>
